<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbarAdmin.ejs')%>

            <h1>All Users</h1>
            <% for(let i of rows) { %>
                <%= i.userId %>
                    <%= i.username %>
                        <%= i.firstname %>
                            <%= i.lastname %>
                                <div class="d-flex">
                                    <a href="/updateUser?userId=<%= i.userId %>"><button type="button"
                                            class="btn btn-primary">Edit</button></a>
                                </div>
                                <div class="d-flex">
                                    <a href="/deleteUser?userId=<%= i.userId %>"><button type="button"
                                            class="btn btn-primary">Delete</button></a>
                                </div>
                                <br>
                                <% } %>
                                    <%- include('partials/footer.ejs')%>
    </body>

</html>