<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbarLoggedIn.ejs')%>
            <%= result[0] %>
                <%= result[1] %>
                    <%- include('partials/footer.ejs')%>
    </body>

</html>