<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbarLoggedIn.ejs')%>
            <% for(let i in rows2) { %>
                <%= rows2[i].artistName %>
                    <%= rows2[i].songName %> <audio src="<%= liked[i].preview %>" controls>preview</audio>
                        <img src="<%= liked[i].picture %>">
                        <br>
                        <% } %>
                            <%- include('partials/footer.ejs')%>
    </body>

</html>