<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbarLoggedIn.ejs')%>

            <form action="/searchUser" method="get">
                <label for="username">Search a user to see the musics he likes </label>
                <input type="text" name="username">
                <button type="submit">Search</button>
            </form>
            <% for(let i in liked) { %>
                <%= rows[i].artistName %>
                    <%= rows[i].songName %> <img src="<%=liked[i].picture %>"> <audio src="<%= liked[i].preview %>"
                            controls>preview</audio>
                        <br>
                        <% } %>
                            <%- include('partials/footer.ejs')%>

    </body>

</html>